/* MAIN APP AND RESET CSS */
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.navListHeavy {
  font-weight: 500;
}

/* HEADER CSS */
.App-header {
  background-color: #20232b;
  display: flex;
  align-items: center;
  color: white;
  font-size: small;
}
.App-logo {
  height: 45px;
  margin: 15px;
}
.App-logo:hover {
  border: 1px solid white;
  cursor: pointer;
}
.locationIcon {
  font-size: large;
}
.deliverToHeader {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  padding: 10px;
}
.deliverToHeader:hover {
  border: 1px solid white;
  cursor: pointer;
}
.deliverText {
  text-align: left;
  margin-left: 5px;
}
.searchBarArea {
  display: flex;
  align-items: center;
}
.selectDepartment {
  width: 60px;
  border-radius: 10px 0 0 10px;
  height: 45px;
  background-color: #dadddf;
  border: none;
  text-align: center;
}
.selectDepartment:hover {
  background-color: #bfc1c2;
  cursor: pointer;
}
/* MIDDLE HEADER CSS */
.searchBar {
  height: 45px;
  width: 900px;
  border: none;
}
::placeholder {
  padding-left: 10px;
}
.searchIcon {
  color: black;
  font-size: x-large;
  background-color: #fab861;
  height: 21px;
  padding: 12px;
  border-radius: 0px 7px 7px 0px;
  margin-right: 25px;
}
.searchIcon:hover {
  background-color: #d39748;
  cursor: pointer;
}
/* RIGHT SIDE HEADER CSS */
.selectLanguage {
  margin-right: 15px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: larger;
  font-weight: 700;
}
.selectLanguage:hover {
  border: 1px solid white;
  cursor: pointer;
}
.selectLanguage option {
  color: #20232b;
}
.rightSideHeader {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.rightSideInformation {
  display: flex;
  align-items: center;
}
.rightSideInformation p {
  margin: 0 20px;
}
.cartHeader {
  display: flex;
  align-items: flex-end;
  padding: 2px;
  padding: 10px 0px 10px 0px;
}
.cartHeader:hover {
  border: 1px solid white;
  cursor: pointer;
}
.cartP {
  margin-right: -15px;
  font-size: xx-large;
  margin-left: 5px;
}
.hoverEffect:hover {
  border: 1px solid white;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}




/* BEGIN NAVIGATION STYLING */
.nav {
  background-color: #232F3E;
}
.navList {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.navList li {
  color: white;
  padding: 10px 5px 10px 5px;
  font-size: 14px;
}
.navList li:hover {
  border: 2px solid white;
  cursor: pointer;
}
.allLogo {
  margin-right: 3px;
  margin-bottom: -2px;
}



/* MAIN BODY STYLING */
main {
  background-color: rgb(227,230,230);
}